.container.test_container {
    width: 40%;
}

.client_avatar {
    width: 4rem;
    aspect-ratio: 1/1; /* height will always be equal to width due to the ratio*/
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}

.test {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    user-select: none;
    border-radius: 2rem;
    
}

.client_review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
    cursor:text;
}

.client_name {
    cursor:text;
    display: inline;
    transition: var(--transition);
}
.client_name:hover {
    font-size: 120%;
}


/* =================== MEDIA Quesries (Medium Devices) ================== */

@media screen and (max-width: 1024px){
    .container.test_container {
        width: 60%;
    }
}

/* =================== MEDIA Quesries (Small Devices) ================== */

@media screen and (max-width: 600px){
    .container.test_container {
        width: var(--container-wdith-sm);
    }

    .client_review {
        width: var(--container-wdith-sm);
    }
}
